#debug {
    min-height: 380px;
    height: 99%;
    max-height: 380px;
    padding-top: 0px;
    display: block;
    border: 9px solid #c4a97f;
    padding-left: 0px;
    background-color: #ffffff;
    padding-left: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.arduino-breakpoint .CodeMirror-linenumber {
    //background-color: #c4a97f !important;
    color: #000 !important;
    border-radius: 2px !important;
    background-image: url("breakpoint.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 17px;
}

.line-selected{
    background-color: #c4a97f;
    opacity: 0.7;
}

#debug_variables_values {
    background-color    : rgb(223, 236, 238);
    width               : 86%;
    height              : 100%;
    min-height          : 100px;
    float               : left;
    margin-right        : 30px;
    margin-bottom       : 20px;
    margin-top          : 20px;
    border              : 3px solid #1a6568;
    /*border-radius       : 10px;*/
    padding             : 10px 10px;
    overflow            : scroll
}

#debug_info_line {
    background-color    : rgb(223, 236, 238);
    width               : 40%;
    height              : 100%;
    min-height          : 100px;
    float               : left;
    margin-right        : 30px;
    margin-bottom       : 20px;
    margin-top          : 20px;
    border              : 3px solid #1a6568;
    /*border-radius       : 10px;*/
    padding             : 10px 10px;
    overflow            : scroll
}

#debug_info_bp {
    background-color    : rgb(223, 236, 238);
    width               : 40%;
    height              : 100%;
    min-height          : 100px;
    float               : left;
    margin-right        : 30px;
    margin-bottom       : 20px;
    margin-top          : 20px;
    border              : 3px solid #1a6568;
    /*border-radius       : 10px;*/
    padding             : 10px 10px;
    overflow            : scroll
}

hr {
    margin-top: -1px;
    margin-bottom: -1px;
    border-top-color: #000000;
    opacity: 0.4;
}

p {
    margin : 10px;
}

.debugButton {
    margin              : 5px;
}

#debug_buttons{
    float               : right;
    width               : 100%;
}

#debug_button_next_bp{
    background: url('continue.png') center no-repeat;
    cursor:pointer;
    width: 35px;
    height: 35px;
    padding: 0px;
    background-size: 35px;
}

#debug_button_next_line{
    background: url('step.png') center no-repeat;
    cursor:pointer;
    width: 35px;
    height: 35px;
    padding: 0px;
    background-size: 35px;
}

#debug_button_restore{
    background: url('restart.png') center no-repeat;
    cursor:pointer;
    width: 35px;
    height: 35px;
    padding: 0px;
    background-size: 35px;
}

.btn{
    margin: 5px;
}
